# Exploratory Data Analysis

**Q&A:** Why is exploratory data analysis important?


In the last session, we learned about `NumPy`, a popularly used data science tool. In this session, we will be learning about `Pandas`, Python Data Analysis Library, an even more popularly used data science tool for data exploration and wrangling.

## What Is Pandas?

<img src='https://i.ytimg.com/vi/ZjQa_YJ9qP4/maxresdefault.jpg' width='50%'>

Pandas is a Python library with two primary data structures: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label, called an `index`.
- A `DataFrame` is a table of data. Each row has a unique row index, and each column has a unique column index. In a dataframe, each column is a `Series`.

Pandas dataframe comes with a lot of useful methods that have been implemented and optimized to wrangle relatively large dataset.

In [ ]:
# Let's download some data to play with
# source: UCI ML Repo ()
!mkdir ./data/car_evaluation
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.names > ./data/car_evaluation/car.names
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data > ./data/car_evaluation/car.data
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.c45-names > ./data/car_evaluation/car.c45-names

In [ ]:
# about the dataset
!cat ./data/car_evaluation/car.names

In [ ]:
# import the modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt     # this is a visualization tool
%matplotlib inline

<a id="reading-files"></a>
### Reading Files, Selecting Columns, and Summarizing

Read `car.data` file

In [ ]:
f_path = './data/car_evaluation/car.data'
with open(f_path, 'r') as file:
    df = [x.strip().split(',') for x in file.readlines()]

In [ ]:
df[:2]

In [ ]:
column_names = ['buying', 'maint', 'doors', 'person', 'lug_boot', 'safety', 'class']
df = pd.read_csv(f_path, delimiter=',', names=column_names)

**Examine the cars data.**

In [ ]:
df

In [ ]:
type(df)             # DataFrame

View the first 5 rows

In [ ]:
df.head()

View the first 10 rows

In [ ]:
df.head(n=10)

View the last 5 rows

In [ ]:
df.tail(5)

### Get the row and column indices of `df` dataframe

In [ ]:
# The row index (aka "the row labels" — in this case integers)
df.index

In [ ]:
# Column names (which is "an index")
df.columns.tolist()

In [ ]:
# Datatypes of each column — each column is stored as an ndarray, which has a datatype
df.dtypes

##### How big is the dataframe?
**Q&A**: how do we define the size of a dataframe?

In [ ]:
1728 * 7 * 1

In [ ]:
df.shape

In [ ]:
# All values as a NumPy array
df.values

In [ ]:
# Concise summary (including memory usage) — useful to quickly see if nulls exist
df.info()

**Select or index data.**<br>
Pandas `DataFrame`s have structural similarities with Python-style lists and dictionaries.  
In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
# Select a column — returns a Pandas Series (essentially an ndarray with an index)
df['buying'].shape

In [ ]:
# DataFrame columns are Pandas Series.
type(df['buying'])

In [ ]:
# What if you want the dataframe output type
df[['buying']].shape

In [ ]:
type(df[['buying']])

In [ ]:
# Select one column using the DataFrame attribute.
type(df.buying)

In [ ]:
df.buying.to_frame().head()

In [ ]:
pd.DataFrame(df.buying).head()

**Summarize (describe) the data.**<br>
Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding.

In [ ]:
df.head(1)

In [ ]:
# because we don't have numerical column here, let's create one here
df['random_column'] = np.random.random(df.shape[0])

In [ ]:
# Describe all numerical column
df.describe()

In [ ]:
# Describe all object columns (can include multiple types).
df.describe(include='object')

In [ ]:
# what is the return data structure of .describe() method?
type(df.describe())

In [ ]:
a = df.describe(include='object')

In [ ]:
a

In [ ]:
# let's try to mess with it a little
a['person'] = [len(a.doors), 19, 'less', 29]

In [ ]:
a

In [ ]:
# Describe all columns, including non-numeric.
df.describe(include='all')

In [ ]:
# Describe a single column — recall that "df.safety" refers to a Series.
df.safety.describe()

In [ ]:
# Calculate the mean of the ages.
df.random_column.mean()

In [ ]:
df.random_column.median(), df.random_column.min(), df.random_column.max()

In [ ]:
# Draw a histogram of a column (the distribution of the random value).
df.random_column.hist()

**Count the number of occurrences of each value.**

In [ ]:
df.doors.value_counts()

In [ ]:
df.maint.value_counts().plot(kind='bar')

In [ ]:
# Can also be used with numeric variables
#   Try .sort_index() to sort by indices or .sort_values() to sort by counts.
df.random_column.value_counts().sort_values()

<a id="exercise-one"></a>
### Exercise 1

In [ ]:
# Let's download another dataset called Iris
!mkdir ./data/iris
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data > ./data/iris/iris.data
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names > ./data/iris/iris.names

In [ ]:
!cat ./data/iris/iris.names

Read `iris.data` into a dataframe called `iris`.

**DO NOT OVERWRITE `df` AS WE ARE STILL USING THAT DATAFRAME LATER**

In [ ]:
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris = pd.read_csv('./data/iris/iris.data', names=column_names)

Print the head and the tail of the `iris` dataframe

Examine the default index, datatypes, and shape

Examine the data types

Examine the size of the dataframe

Print the `petal_width` series

Calculate the average petal width for the entire data set

Count the number of occurrences of each species value in the `class` column

<a id="filtering-and-sorting"></a>
### Filtering and Sorting (Using `df` Dataframe)
- **Objective:** Filter and sort data using Pandas.

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

In [ ]:
df.head()

**Logical filtering: Only show records with low safety.**

In [ ]:
# Create a Series of Booleans…
# In Pandas, this comparison is performed element-wise on each row of data.
df[df['safety'] == 'low'].head()

In [ ]:
# …and use that Series to filter rows.
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.
mask  = df.safety == 'low'
df[mask].head()

In [ ]:
# return a dataframe with big luggage boot 'lug_boot' only
mask = df.lug_boot == 'big'
df[mask].head()

**Alter dataframe entries**

In [ ]:
# Important: This creates a view of the original DataFrame, not a new DataFrame.

# If you alter this view (e.g., by storing it in a variable and altering that)
# You will alter only the slice of the DataFrame and not the actual DataFrame itself
# Here, notice that Pandas gives you a SettingWithCopyWarning to alert you of this.

# It is best practice to use .loc and .iloc instead of the syntax below

df['random_column'] = 1

In [ ]:
df.head()

In [ ]:
# Select one column from the filtered results.
# df.iloc[row_index, column_index]
df.columns.get_loc('random_column')    # this returns the column index based on column name

In [ ]:
df.iloc[1, 7] = 3

In [ ]:
df.head()

In [ ]:
# value_counts of resulting Series
df.random_column.value_counts()

In [ ]:
df.random_column.nunique()

**Logical filtering with multiple conditions**

In [ ]:
# Ampersand for `AND` condition. (This is a "bitwise" `AND`.)
# Important: You MUST put parentheses around each expression because `&` has a higher precedence than `<`.
# Pipe for `OR` condition. (This is a "bitwise" `OR`.)
# Important: You MUST put parentheses around each expression because `|` has a higher precedence than `<`.
df.head()

In [ ]:
mask = (df.buying == 'vhigh') & (df.person == '2')
df[mask].head()

In [ ]:
mask = (df.maint == 'vhigh') & \
       (df.doors != '2') | \
       (df.safety == 'high')
df[mask].head()

In [ ]:
# Preferred alternative
df[df.safety.isin(['high'])].head()

**Sorting**

In [ ]:
# Sort a Series.
df.random_column.sort_values().head()

In [ ]:
df.sort_values('random_column', ascending=False, inplace=True)

In [ ]:
df.head()

In [ ]:
# Sort by multiple columns.
df.sort_values(['random_column', 'doors'], ascending=[True, False])

### Exercise 2
Use the `iris.data` or `iris` dataframe from earlier to complete the following.

In [ ]:
iris.head()

Filter DataFrame to only include `petal_length` greater than 1.3

Calculate the average `sepal_length` for those with `petal_length` greater than 1.3

Change `sepal_width` column values in the iris dataframe to a constant number, 3

<a id="columns"></a>
### Renaming, Adding, and Removing Columns

- **Objective:** Manipulate `DataFrame` columns.

In [ ]:
# Print the column labels
print(df.columns)

In [ ]:
# Rename one or more columns in a single output using value mapping.
df.rename(columns={'doors': 'num_doors',
                   'person': 'num_person'}).head()

In [ ]:
# Rename one or more columns in the original DataFrame.
df.rename(columns={'doors': 'num_doors',
                   'person': 'num_person'}, inplace=True)

In [ ]:
df.head()

In [ ]:
# Replace all column names using a list of matching length.
cols = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class', 'rand_col'] 
df.columns = cols

In [ ]:
df.head()

**Easy Column Operations**<br>
Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
# 1) doors_persons: doors + '_' + persons
# 2) rand_col_1000: rand_col * 1000
df['doors_persons'] = df.doors + '_' + df.persons
df['rand_col_1000'] = df.rand_col * 1000

In [ ]:
df.head()

another way of adding new columns

In [ ]:
df.assign(persons_maint=df.persons+'&'+df.doors,
          nothing=None).head()

`.assign` does not store the newly created columns back into the dataframe unless the dataframe is explicitly assigned back to the original dataframe

In [ ]:
df.head()

In [ ]:
df = df.assign(persons_maint=df.persons+'&'+df.doors,
               nothing=None)

In [ ]:
df.head()

**Removing Columns**

In [ ]:
# how to pull up the documentation of a specific method
df.drop?

In [ ]:
df.head()

In [ ]:
# axis=0 for rows, 1 for columns
df.drop('rand_col_1000', axis=1).head()

In [ ]:
# Drop multiple columns.
df.drop(['rand_col_1000', 'nothing'], axis=1).head()

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
df.drop(['rand_col_1000', 'nothing'], axis=1, inplace=True)

In [ ]:
df.head()

## Reset index

In [ ]:
df.drop(df.index[df.rand_col == 3]).head()

In [ ]:
df.reset_index().head(2)

In [ ]:
df.reset_index(drop=True).head(2)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head(2)

### Handling Missing Values

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing — it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

> In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

In [ ]:
df.iloc[:3, df.columns.get_loc('class')] = None

In [ ]:
# Missing values are usually excluded in calculations by default.
df['class'].value_counts()              # Excludes missing values in the calculation

In [ ]:
df['class'].value_counts(dropna=False)

In [ ]:
# Find missing values in a Series.
# True if missing, False if not missing
df['class'].isnull().sum()

In [ ]:
# True if not missing, False if missing
df['class'].notnull().head()

In [ ]:
# Only show rows where class is not missing.
df[df['class'].notnull()].head()

**Understanding Pandas Axis**

In [ ]:
# Sums "down" the 0 axis (rows) — so, we get the sums of each column
df.sum(axis=0)

In [ ]:
# axis=0 is the default.
df.median()

In [ ]:
# create another random column here
df['rand_col_2'] = np.random.random(df.shape[0])

In [ ]:
# Sums "across" the 1 axis (columns) — so, we get the sums of numeric values in the row 
df['random_col_sum'] = df[['rand_col', 'rand_col_2']].sum(axis=1)

In [ ]:
df.head()

**Find missing values in a `DataFrame`.**

In [ ]:
# DataFrame of Booleans
df.info()

In [ ]:
# Count the missing values in each column — remember by default, axis=0.
print((df.isnull().sum()))

**Dropping Missing Values**

In [ ]:
# Drop a row if ANY values are missing from any column — can be dangerous!
df.dropna().head(11)

In [ ]:
df.iloc[0]

In [ ]:
# Drop a row only if ALL values are missing.
df.dropna(how='all').head()

**Filling Missing Values**

In [ ]:
# Fill in missing values with "NA" — this is dangerous to do without manually verifying them!
df['class'].fillna(value='acc').head()

In [ ]:
df.head(2)

In [ ]:
# Modifies "drinks" in-place
df['class'].fillna(value='acc', inplace=True)

<a id="exercise-three"></a>
### Exercise 3

In [ ]:
# let's download another dataset
!mkdir ./data/hepatitis
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data > ./data/hepatitis/hepatitis.data
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.names > ./data/hepatitis/hepatitis.names

In [ ]:
!cat ./data/hepatitis/hepatitis.names

In [ ]:
# Read hepatitis.data into a DataFrame called "hp".
cols = ['class', 'age', 'sex', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia', 'liver_big',
        'liver_firm', 'spleen_palpable', 'spiders', 'ascites', 'varices', 'bilirubin',
        'alk_phosphate', 'sgot', 'albumin', 'protime', 'histology']
hp = pd.read_csv('./data/hepatitis/hepatitis.data', names=cols)

In [ ]:
# Check what the dataframe looks like

**Do you notice any issues with the data here** 

 (Hint: Read the explanation about the data more carefully, something to do with the missing values)

In [ ]:
# Re-read the data into a data frame

Check the shape of the DataFrame

Check the data types of the Dataframe

**Change the type of age and sex columns from int to Categories**

Hint: Google astype pandas

For those with age greater or equal to 30, what's the most common class?

Print a DataFrame containing only sex is 1 and steriods greater than 1

Count the number of missing values in each column.

How many rows remain if you drop all rows with any missing values?

<a id="split-apply-combine"></a>
### Split-Apply-Combine

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean beer consumption per country. Then:

- **Split:** We group data by continent.
- **Apply:** For each group, we apply the `mean()` function to find the average beer consumption.
- **Combine:** We now combine the continent names with the `mean()`s to produce a summary of our findings.

In [ ]:
hp.head(2)

In [ ]:
# For each sex, calculate the mean alk_phosphate.
hp.groupby('sex').alk_phosphate.mean()

In [ ]:
# For each sex, calculate the mean of all numeric columns.
hp.groupby('sex').mean()

In [ ]:
# For each sex, describe age.
hp.groupby('sex').age.describe()

In [ ]:
# Similar, but outputs a DataFrame and can be customized — "agg" allows you to aggregate results of Series functions
hp.groupby('sex').age.agg(['count', 'mean', 'min', 'max'])

In [ ]:
hp.groupby('sex').age.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

# Recap

In this session, we went through an introductory tutorial on how to use Pandas to perform exploratory data analysis. Note that the material covered today was designed for today's workshop purpose only. Here are some additional topics to look into using Pandas,
<ul>
    <li>Check duplicate</li>
    <li>iloc vs loc</li>
    <li>Joins and merges</li>
</ul>